[run]
branch = False
omit =
    tests/*
    examples/*
    scripts/*
    jumpy/*
    envs/*
    estimator/*
    experiments/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    if TYPE_CHECKING:
